body {
      font-family: 'Roboto', sans-serif;
      background-color: #FCEADE;
      color: #FCEADE;
      max-width: 900px;
      width: 90%;
      margin: 0 auto;
      line-height: 1.6;
    }
    h1{
      font-family: 'Poppins', sans-serif;
      color: #FF8A5B;
      text-align: center;
    }
    h2 {
      font-family: 'Poppins', sans-serif;
      color: #FF8A5B;
      text-align: center;
      margin-top: 20px;
    }
    footer {
      margin-top: 30px;
      padding: 10px 0;
      border-top: 2px solid #FCEADE;
      text-align: center;
      font-size: 0.9em;
      background-color: #25CED1;
      color: #FCEADE;
    }
    footer a {
      margin: 0 10px;
      text-decoration: none;
      color: #FCEADE;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }
    footer a:hover {
      text-decoration: underline;
    }
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }