body {
      font-family: 'Roboto', sans-serif;
      background-color: #bdd5ea;
      color: #495867;
      max-width: 900px;
      width: 90%;
      margin: 0 auto;
      line-height: 1.6;
    }
    h1{
      font-family: 'Poppins', sans-serif;
      color: #6D1A36;
      text-align: center;
    }
    h2 {
      font-family: 'Poppins', sans-serif;
      color: #6D1A36;
      text-align: center;
      margin-top: 20px;
    }
    footer {
      margin-top: 30px;
      padding: 10px 0;
      border-top: 2px solid #f7f7ff;
      text-align: center;
      font-size: 0.9em;
      background-color: #577399;
      color: #f7f7ff;
    }
    footer a {
      margin: 0 10px;
      text-decoration: none;
      color: #f7f7ff;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }
    footer a:hover {
      text-decoration: underline;
    }
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }