<header>
  <h1>Sankalp Kumar’s Super Kangaroo</h1>
  <h2>ITIS 3135</h2>
  <nav>
    <ul class="primary-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="introduction.html">Introduction</a></li>
      <li><a href="contract.html">Contract</a></li>
      
    </ul>
    <ul class="secondary-nav">
      <li><a href="stuff/CrApPy @.HTML">Crappy Site</a></li>
      <li><a href="kumarcreative.com/index.html">Kumar Creative</a></li>
      <li><a href="MascotCompany/about.html">Mascot Company</a></li>
    </ul>
    
  </nav>
</header>
